/* 
    Built with love by Cathy Fisher 2013-2014 
*/


* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, arial, sans-serif;
    background-color: #f9f9f9;
    position: relative;
    color: rgb(78, 78, 78);
    padding-bottom: 3em;
}

a {
    color: white;
    text-decoration: none;
}




/*========================================================================
   STRUCTURE
========================================================================*/
.container {
    margin: auto;
    max-width: 700px;
}
.page-header {
    background-color: rgb(233, 168, 1);
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,.3);
}
    .page--favorites .page-header {
        background-color: rgb(219, 61, 156);
    }
    .page--categories .page-header {
        background-color: rgb(101, 190, 101);
    }

/* Navigation */
.nav {
    text-align: center;
    margin-bottom: .5em;
    padding-top: 5px;
}
    .nav-link {
        display: inline;
        margin: 0;
        padding: 0 .5em;
        margin-right: 10px;
    }
    .nav-link.current {
        font-size: 1.5em;
        font-weight: 300;
    }



/*========================================================================
    ITEM LIST
========================================================================*/
.list {
    margin-top: .5em;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
    .list__category-header {
        margin: 1.2em 0 0 0;
        padding: .1em .5em;
        font-size: .8em;
        text-transform: uppercase;
        color: rgb(150, 141, 125);
        border-bottom: 1px solid rgba(124, 221, 216, .5);
    }
    .page--master .list__category-header:first-child {
        margin-top: 0;
    }
    .item {
        display: block;
        width: 100%;
        position: relative;
        padding: 0 .3em;
        vertical-align: middle;
        overflow: hidden;
        
    }
        .item--even {
            background-color: rgba(0,0,0,.02);
        }
        .item__label {
            width: 90%;
            display: inline-block;
            top: 0;
            cursor: pointer;
        }
            /* Label for a manually-added item */
            .page--master .item--manual > .item__label {
                color: #00A7AD;
            }
            /* Label for checked item */
            .struck .item__label {
                text-decoration: line-through;
                color: gray;
            }


/*========================================================================
   FORMS
========================================================================*/
form {
    display: inline;
}
.form--new-item {
    margin: 1em 0;
}
.form--add-category {
    margin: 10px auto 0;
}
    .form__label {
        font-size: .7em;
        text-transform: uppercase;
        text-align: right;
        padding-right: .3em;
    }
    .form__value {
        padding: .3em .2em;
    }
        .field--category {
            max-width: 200px;
            margin: .5em 0;
        }



/*========================================================================
   BUTTONS
========================================================================*/
.button {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #f9f9f9;
    border: 0px solid rgba(78, 76, 76, 0.5);
    margin: 0 1%;
    border-radius: 2px;
    padding: .75em 1.6em .76em;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    text-transform: uppercase;
    font-size: .75em;
    color: rgb(82, 81, 81);
    letter-spacing: 1px;
}

    /* Flat buttons */
     .button--flat {
        box-shadow: none;
        text-align: right;
        font-size: .85em;
        padding: .5em;
        background-color: transparent;
    }
        .button--flat--primary {
            color: #00A7AD;
        }


    /* Specific buttons */    
    .button--edit { /* Edit pencil button */
        font-size: 0;
        border: 0;
        padding: 0;
        position: absolute;
        right: 0;
        display: inline-block;
        background-color: transparent;
        color: transparent;
        background-image: url('edit-dark.png');
        background-repeat: no-repeat;
        background-position: center center;
        width: 6%;
        height: 38px;
        box-shadow: none;
        opacity: .6;
    }
    .button--clear { /* Removed Checked button */
        background-color: rgb(219, 57, 57);
        color: white;
        display: inline-block;
    }
    .button--add-new { /* Circular + button */
        border-radius: 100px;
        width: 45px;
        height: 45px;
        padding: 0;
        position: fixed;
        bottom: 15px;
        right: 5px;
        z-index: 100;
        color: white;
        background-color: #21B5C2;
        font-size: 1.3em;
        line-height: 1;
        background-image: url('plus.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 27px;
    } 
    .button--add-favs {
        margin-top: .5em;
    }

/* Button container */
.button-bank {
    text-align: center;
}
    .button-bank--left {
        text-align: left;
    }
    .button-bank--right {
        text-align: right;
    }
    .modal .button-bank {
        margin: 1.5em 0 .5em;
    }



/*========================================================================
   MODAL
========================================================================*/

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    z-index: 100;
}
    .modal__header {
        margin: 0;
        font-weight: normal;
    }
    .modal__content {
        width: 310px;
        max-width: 90%;
        margin: 20% auto;
        background-color: #f9f9f9;
        padding: .5em 1em .1em 1em;
        border-radius: 2px;
        box-shadow: 2px 2px 40px rgba(0,0,0,.4);
    }
    .modal__form {
        margin-top: .75em;
    }   


/*========================================================================
   RESPONSIVE
========================================================================*/

@media screen and (max-width: 600px) {	
    body {
        font-size: 12pt;
    }
    .item {
        font-size: 12pt;
    }
    .item label {
        padding: .8em .4em;
    }
    input[type=text] {
        max-width: 8em;
    }
    .button {
        font-size: .9em;
    }
    .button--add-new {
        font-size: 1.3em;
    } 
    .add-modal--box {
        margin: 35% auto;
    }

}

@media screen and (min-width: 601px) {	
    body {
        font-size: 12pt;
    }
    .container {
        max-width: 700px;
    }
    .item label {
        padding: .5em .25em;
    }
    .button--edit {
        margin: 0;
    }
}


/*========================================================================
   HELPERS
========================================================================*/

.button:focus { /* Remove default focus styling on buttons */
    outline:0;
}

input.field--id { /* Hide the ID field */
    visibility: hidden;
    position: absolute;
}